<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">   
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
     {{>header}}
     <p>This site was created by Saqlain. It uses data from mapbox.com and openapiweather!</p>
    <img class="portrait" src="./img/006.jpg">
    </div>
    
    {{>footer}}

</body>

</html>